@font-face {
  font-family: 'Old London';
  src: url('./assets/fonts/OldLondon.ttf') format('truetype');
}

.font-london {
  font-family: 'OldLondon';
}

@font-face {
  font-family: 'Mark My Words';
  src: url('./assets/fonts/MarkMyWords.ttf') format('truetype');
}

.font-cursive {
  font-family: 'Mark My Words';
}

@font-face {
  font-family: 'General Sans';
  src: url('./assets/fonts/GeneralSans-Regular.ttf') format('truetype');
}

.font-sans {
  font-family: 'General Sans';
}

@font-face {
  font-family: 'General Sans Light';
  src: url('./assets/fonts/GeneralSans-Light.ttf') format('truetype');
}

.font-sanslight {
  font-family: 'General Sans Light';
}